{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "prettier/prettier": 0,
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0, // 테스트 또는 개발환경을 구성하는 파일에서는 devDependency 사용을 허용
    "no-shadow": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "no-console": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "func-names": 0,
    "jsx-a11y/control-has-associated-label": 0, // Control element -> self closing 허용
    "@typescript-eslint/no-var-requires": 0, // require 허용
    "no-control-regex": 0, // Regex에 제어문자 사용 허용
    "react/react-in-jsx-scope": 0,
    "import/order": 0,
    "no-param-reassign": 0,
    "react/destructuring-assignment": 0,
    "react/no-children-prop": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "no-await-in-loop": 0,
    "no-bitwise": 0, // Bit 연산자 허용
    "no-plusplus": 0, // Unary ++ 허용
    "react/function-component-definition": 0,
    "default-param-last": 0,
    "no-promise-executor-return": 0,
    "react/no-array-index-key": 0,
    "prefer-destructuring": ["error", { "object": true, "array": false }]
  }
}
